<div class="container mt-4">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create New Wallet Type</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="walletTypeForm" (ngSubmit)="onSubmit()" class="wallet-type-form">
        <div class="row">
          <div class="col-md-6 mb-3">
            <mat-form-field appearance="outline" class="w-100" hideRequiredMarker>
              <mat-label>Name</mat-label>
              <input matInput formControlName="name">
              <mat-icon matPrefix class="input-icon">label</mat-icon>
              <mat-error *ngIf="walletTypeForm.get('name')?.hasError('required')">
                Name is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6 mb-3">
            <mat-form-field appearance="outline" class="w-100" hideRequiredMarker>
              <mat-label>Amount Limit</mat-label>
              <input matInput formControlName="amountLimit">
              <mat-icon matPrefix class="input-icon">attach_money</mat-icon>
              <mat-error *ngIf="walletTypeForm.get('amountLimit')?.hasError('required')">
                Amount limit is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>


        <div class="form-actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="walletTypeForm.invalid || loading">
            <span *ngIf="loading">Creating...</span>
            <span *ngIf="!loading">Create Wallet Type</span>
          </button>
          <button mat-button type="button" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
